/* CSS Document */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Sacramento&display=swap');
html{
height:100%;
 padding:0;
 margin:0;
}
body {
  background: #f7f7e8;
  font-family: 'Poppins', sans-serif;
	overflow-x: hidden;
} 
/*footer{margin-bottom: 0px;}*/
/*Header*/
.hdear {
  width: 100%;
  position: fixed;
  top: 0;
  overflow: hidden;
  z-index: 50;
  background-color: #c7cfb7;
}
.navbar-nav {
  margin-bottom: 0;
  margin-left: auto;
  align-items: center;
}
.nav-link {
  color: #557174;
		/*font-size:1.1vw;*/
	font-weight: bolder;
}
.nav-link:hover {
  color: black;
}
.menu-item-link {
  padding: 1em 2.1em 1.1em;
    border-radius: 3px;	
    margin: 15px;
    color: black;
    background-color: #CC754C;
    display: inline-block;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-weight: 900;
    font-size: 17px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    position: relative;
}
.menu-item-link:hover {
  color: black;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid #140E0E;
}
.logo {
  width: 125px;
  height: 80px;
}
.nav-icon-color {
  color: #557174;
}
/*End Header*/
/*Slider*/
.slideshowContainer {
  position: relative;
  overflow: hidden;
  margin: 50px 0 75px;
  max-width: 1240px;
  height: 500px;
}
.imageSlides {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: -1;
}
/* add 'visible' class via Javascript */
.visible {
  opacity: 1;
}
.slideshowArrow {
  font-size: 7em;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}
.slideshowArrow:hover {
  opacity: 0.75;
}
#leftArrow {
  position: absolute;
  left: 4%;
  top: 50%;
  transform: translate(-50%, -50%);
}
#rightArrow {
  position: absolute;
  right: 4%;
  top: 50%;
  transform: translate(50%, -50%);
}
.slideshowCircles {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.circle {
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
  width: 45px;
  height: 15px;
  border-radius: 25px;
  border: solid 2px rgba(255, 255, 255, 0.5);
  transition: 1s ease-in-out;
}
.dot {
  background-color: rgba(255, 255, 255, 0.7);
  border: solid 2px rgba(255, 255, 255, 0.5);
}
@media only screen and (min-width: 992px) {
  .slideshowContainer {
    margin: 200px 150px 100px;
  }
}
@media only screen and (max-width: 992px) {
  .slideshowContainer {
    margin: 150px 90px 50px;
  }
}
@media only screen and (max-width: 767px) {
  .slideshowContainer {
    margin: 150px 50px 50px;
  }
	.backside .card p{
		 display: none;
  }
	
	.backside .card span{
		visibility: hidden;
		margin: 0;
		padding: 0;
  }
	
}
/* End Slider*/
.main-container {
  background-color: #f7f7e8;
}
/*Banner*/
.home-banner {
  margin-top: 40px;
	margin-bottom: 40px;
}
.home-banner-content {
  text-align: center;
}
.home-banner-content h2 {
  color: #557174;
  font-size: 2.4em;
  font-weight: bolder;
  padding-bottom: 15px;
}
.home-banner-content p {
  line-height: 1.8;
}
/*End Banner*/
/* card */
/* FontAwesome for working BootSnippet :> */
#team {
  background: #f7f7e8;
}
.btn-primary:hover, .btn-primary:focus {
  background-color: #108d6f;
  border-color: #108d6f;
  box-shadow: none;
  outline: none;
}
.btn-primary {
  color: #fff;
  background-color: #007b5e;
  border-color: #007b5e;
}
.mmain-container section {
  padding: 60px 0;
}
#team .card {
  border: none;
background-image: url("../images/card-design-2.png");
background-position: center;
  background-repeat: no-repeat;
}
.image-flip:hover .backside, .image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: .25rem;
}
.image-flip:hover .frontside, .image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.mainflip {
  -webkit-transition: 2s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 2s;
  -moz-transition: 2s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 2s;
  transform-style: preserve-3d;
  position: relative;
}
.frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
  overflow: auto;
}
.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  overflow: auto;
}
.frontside, .backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 2s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 2s;
  -moz-transform-style: preserve-3d;
  -o-transition: 2s;
  -o-transform-style: preserve-3d;
  -ms-transition: 2s;
  -ms-transform-style: preserve-3d;
  transition: 2s;
  transform-style: preserve-3d;
}
.frontside .card, .backside .card {
  min-height: 312px;
  width: 100%;
}
@media only screen and (max-width: 767px) {
	 .backside .card p{
    font-size: 1px;
	  visibility: hidden;
	  margin-top: 0;
	  margin-bottom: 0;
	  padding: 0;
  }
	.card-title{
		margin-top: 5px;
	}
	.list-items{
		margin-bottom: 0;
	}
	}
@media only screen and (min-width: 767px) {
  /*  .backside .card, .frontside .card {
    min-height: 430px;
  }*
	/*.backside .card li{
		font-size: 1em;
		text-decoration: none;
		line-height: 1.2;
	}*/
  .backside .card p{
    font-size: 1px;
	  visibility: hidden;
	  margin-top: 0;
	  margin-bottom: 0;
	  padding: 0;
  }
	
	.backside .card span{
		visibility: hidden;
		margin: 0;
		padding: 0;}
	.card-title{
		margin-bottom: 40px;	
	}
}
 .backside .card p{
    font-size: 14px;
	  visibility: hidden;
  }
.backside .card-body {
  background-image: url("images/card-back.png")
}
.backside .card a {
  font-size: 15px;
  color: white !important;
}
.frontside .card .card-title /*.backside .card .card-title*/ {
  font-family: 'Sacramento';
  color: whitesmoke !important;
}
/*.frontside .card .card-body img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}*/
/*.left-list{
	display: block;
	float: left;
	margin: 10px;
}
.right-list{
	float: right;
	margin: 10px;
	
}*/
.list-center {
  float: center;
}
.list-items a {
  text-decoration: none;
  font-size: 0.75rem;
}
.list-items {
  list-style: none;
}
/*End Card*/
/*image gallery*/
.image-block {
  transition: all .3s linear;
  -webkit-transition: all .3s linear;
  -moz-transition: all .3s linear
}
.image-block:hover {
  transform: translateY(10px) scale(1.2);
  position: relative;
  z-index: 9
}
.image-block img {
  width: 100%;
  height: 300px;
  margin: 10px;
}
@media only screen and (max-width: 582px){
	.image-block img{
		margin-left: 0px;
	}
}
/*End image gallery*/
/*Contact Banner*/
.contact-banner p {
	margin: 40px 25px;
  font-size: 25px;
}
.contact-banner {
	width: 100%;
  height: auto;
  color: black;
  box-sizing: border-box;
  background-color: #AABC85;
	margin-right: 0px;
	padding:0px;
}
.contact-banner div{
	padding: 0px;
}

.contact-banner a {
	padding: 1em 2.1em 1.1em;
    border-radius: 3px;
    margin: 40px 0px 30px 30px;
    color: whitesmoke;
    background-color: sienna;
    display: inline-block;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    transition: 0.3s;
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    -webkit-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0em -0.3rem 0em rgba(0, 0, 0, 0.1) inset;
    position: relative;
}

.contact-banner a:hover {
  color: black;
  cursor: pointer;
  text-decoration: none;
  border: 2px solid #140E0E;
}
@media only screen and (max-width: 767px) {
  .contact-banner a {
    display: block !important;
	  margin-top: 10px;
	 margin-right: 25px;
  }
	.contact-banner{
		padding: 0px;
		margin-right: 0px;
	}
}
/*End Contact Banner*/
/*Footer*/
.contact-area {
  border-bottom: 1px solid #353C46;
  background: #433520;
  color: white;
  padding: 40px 0;
}
.contact-content p {
  font-size: 15px;
  margin: 30px 0;
  position: relative;
}
.contact-content p::after {
  background: #353C46;
  bottom: -30px;
  content: "";
  height: 1px;
  left: 50%;
  position: absolute;
  transform: translate(-50%);
  width: 80%;
}
.contact-content h5 {
  color: white;
  font-weight: 400;
  margin-bottom: 10px;
}
.contact-content span {
  color: #353c47;
  margin: 0 10px;
}
.contact-content img {
  max-width: 210px;
}
.contact-social {
  float: left;
  margin-top: 30px;
}
.contact-social > ul {
  display: inline-flex;
  margin: 0;
  padding: 0;
  list-style: none;
}
.contact-social ul li a {
  border: 1.5px solid whitesmoke;
  color: whitesmoke;
  display: inline-block;
  height: 40px;
  margin: 0 10px;
  padding-top: 7px;
  transition: all 0.4s ease 0s;
  width: 40px;
	border-radius: 100%;
}
.contact-social ul li a:hover {
  border: 1.5px solid #9dc6a7;
  color: #9dc6a7;
}
.contact-social h5 {
  margin-bottom: 20px;
}
.contact-review {
  float: right;
  margin-top: 30px;
}
footer {
  background: #433520;
  color: white;
}
footer p {
  padding: 20px 0 0 0;
  text-align: center;
}
footer img {
  width: 44px;
}
/*End Footer*/
/*Contact Page*/
#contact-section .container {
  width: 90%;
  margin: auto;
  overflow: hidden;
}
#contact-section {
 
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  padding-bottom: 2%;
}
#contact-section .container h2 {
  margin-top: 130px;
  margin-bottom: 20px;
  text-align: center;
  text-decoration: underline;
  /* text-decoration-color:red; */
  text-underline-position: under;
  color:black;
  letter-spacing: 2px;
}
#contact-section .container p {
  text-align: center;
  width: 100%;
  margin-right: auto;
  padding-bottom: 3%;
  color: black;
  letter-spacing: 3px;
}
.contact-details a{
	text-decoration: none;
	color: black;
}
.contact-form i.fa {
  font-size: 14px;
  padding: 25%;
  background-color: none;
  border-radius: 100%;
  margin: 2%;
	margin-bottom: 10px;
  /* border: 2px solid #fff; */
  cursor: pointer;
  border: 2px solid grey;
  color: black;
}
.contact-form i.fa:hover {
  cursor: pointer;
  border: 2px solid black;
  color: black;
}
/*.map-icon{
	border-radius: 100%;
	width: 60px;
}*/
@media only screen and (max-width: 767px) {
  .contact-form i.fa  {
   padding: 3%;
  }
}
.contact-form {
  display: grid;
  grid-template-columns: auto auto;
}
.form-info {
  font-size: 16px;
  font-style: italic;
  color: black;
  letter-spacing: 0.7px;
}	
input {
  padding: 10px;
  margin: 10px;
  width: 70%;
  background-color: rgba(136, 133, 133, 0.5);
  color: black;
  border: none;
  outline: none;
	border-radius: 20px;
}
input::placeholder {
  color: black;
}
textarea {
  padding: 10px;
  margin: 10px;
  width: 70%;
  background-color: rgba(136, 133, 133, 0.5);
  color: black;
  border: none;
  outline: none;
	border-radius: 30px;
}
textarea::placeholder {
  color: black;
	padding: 3px;
}
.submit {
  width: 40%;
  background: rgba(81, 50, 36, 0.72);
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  height: 33px;
  text-align: center;
  cursor: pointer;
  margin-left: 3%;
  border: 2px solid white;
  color: white;
border-radius: 20px;
}
.submit:hover {
  border: 1px solid white;
  color: white;
  cursor: pointer;
	background: rgba(81, 50, 36, 0.90);
}
/* media queries */
@media (max-width: 767px) {
  #contact-section .contact-form {
    display: block;
    width: 100%;
    text-align: center;
  }
  #contact-section .submit {
    width: 60%;
  }
}
.map {
  margin: 30px 20px;
}
/*Products Page*/
.image {
	display: flex;
	padding: 10px;
  margin-top: 60px;
	/*margin-right: 0%;*/
	float: right;
}

.image span{visibility: hidden;}

.description {
  margin-top: 60px;
}

@media only screen and (max-width: 768px) {
  .image {
    margin: 60px 50px 0px 0px !important;
    width: 400px  !important;
  }
  .description {
    margin: 50px;
  }
}
@media only screen and (max-width: 600px) {
	.image {
    align-content: center !important;
    margin: 60px 45px 0px 0px !important;
 /*   width: 	220px !important;*/
	}
  }
/*d-1*/
.pricingdiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  /*padding-left: 0px;*/
}
.pricingdiv ul.theplan {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  box-shadow: 4px 5px 8px 0 rgba(0, 0, 0, 0.4), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  color: white;
  background: rgba(81, 50, 36, 0.72);
  position: relative;
  width: 350px; /* width of each table */
  /* margin-right: 10px;  spacing between tables */
  margin-bottom: 1em;
  transition: all .5s;
}
.pricingdiv ul.theplan:hover { /* when mouse hover over pricing table */
  transform: scale(1.05);
  transition: all .5s;
  z-index: 8;
  /*box-shadow: 0 0 10px gray;*/
  box-shadow: 3px 4px 7px 0 rgba(0, 0, 0, 0.3), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background: rgba(81, 50, 36, 0.90);
}
.pricingdiv ul.theplan li {
  margin: 10px 30px;
  position: relative;
}
.pricingdiv ul.theplan li.title {
  font-size: 150%;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
  text-transform: uppercase;
  border-bottom: 5px solid white;
}
/*very last LI within each pricing UL */
.pricingdiv ul.theplan li:last-of-type {
  text-align: center;
  margin-top: auto; /*align last LI (price botton li) to the very bottom of UL */
}
.pricingdiv a.pricebutton {
  background: #C7CFB7;
  text-decoration: none;
  padding: 10px;
  display: inline-block;
  margin: 10px auto;
  border-radius: 5px;
  color: #374124;
  text-transform: uppercase;
}
/*
@media only screen and (max-width: 500px) {
  .pricingdiv ul.theplan {
    border-radius: 0;
    width: 100%;
    margin-right: auto;
  }
  .pricingdiv ul.theplan:hover {
    transform: none;
    box-shadow: none;
  }
  .pricingdiv a.pricebutton {
    
	  border-radius: 10%;
  }
}
*/

.product-features{
	margin: 35px 15px;
	font-size:.93em;
	 font-size-adjust: auto;
}

.product-features h2{
	color: #4D6669;
}
 

/*d-1 enddd*/
/*detail card*/

/*end detail card*/
.img-fit {
	max-width: 100%;
}

/*Product Page*/


#container {
  margin: auto;
}
.grid-item {
display: inline-block;
    height: 259px;
	margin: 10px;
    overflow: hidden;
    text-align: center;
    width: 400px;
}
.grid-item img{
	width:100%;
	height:auto;
	filter: url(filters.svg#grayscale);
    filter: gray;
    -webkit-filter: grayscale(0.8);
    transition: 0.9s;
}
.grid-item img:hover{
    filter: none;
}
@media only screen and (max-width:767px){
	.grid-item img{
		filter: url(filters.svg#grayscale);
    filter: gray;
    -webkit-filter: grayscale(0);
	}
}
.isotope-pager .pager {
  display: inline-block;
}
.filters {
	width: 100%;
	text-align: center;
	padding-bottom: 35px;
	padding-top:20px;
	margin-top: 120px;	
	
}

.filters ul {
	list-style: none;
    padding: 10px 10px;
    box-shadow: -1px 1px 11px rgba(0,0,0,.4);
    margin: 0 20px;
    border-radius: 10px;
	background-color: #AABC85;
}

.filters li {
	display: inline-block;
    padding: 10px 25px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;	
}
.filters li a{
	color: black;
	text-decoration: none;
}
.filters li a:hover{
	color:black;
}

.filters li:hover {
	box-shadow: -1px 1px 11px rgba(0,0,0,.4);
	border-radius: 15px;
}

.filters li.active a{	
	color: black;
	border: 1px solid black;
	border-radius: 15px;
	box-shadow: -1px 1px 11px rgba(0,0,0,.4);
	padding: 10px 25px;
	
}

.isotope-pager a{
  margin: 6px 1px;
    display: inline-block;
    width: 50px;
    /* height: 60px; */
    line-height: 31px;
    color: #b6b6b6;
    font-weight: 600;
    transition: 0.3s;
    /* position: relative; */
    /* padding-right: 26px; */
    box-shadow: -1px 1px 11px rgba(0,0,0,.1);
    border-radius: 25px;
    background-color: #232323;
    border: .5px solid #e3ca66;
	text-decoration:none;
}

.isotope-pager a:hover{
  color: #fff;
  border: .5px solid #ffeeac;
  box-shadow: -1px 1px 10px 3px rgba(0,0,0,.1);
}

.isotope-pager .active{
  color: #e3ca66 !important;
    box-shadow: -1px 1px 10px 5px rgba(0,0,0,.1);
    border-radius: 25px;
    background-color: #161616;
    border: 1px dotted #e3ca66;
}

.isotope-pager .prev{
  border-radius: 30px 0 0 30px;
}

.isotope-pager .next{
  border-radius: 0 30px 30px 0;
}

.isotope-pager a::before,.isotope-pager a:after{
  content: "";
  position: absolute;
  border-top: 30px solid transparent;
  border-bottom: 30px solid transparent;
}
.isotope-pager .num::before,.next::before{
  border-right: 20px solid #2c3e50;
  right: 100%;
}

.isotope-pager .num:after,.prev:after{
  border-right: 20px solid #f1f1f1;
  right: 0;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}

.grid-item:hover .overlay {
  opacity: 1;
}
/*End Product Page*/

.card-space {

}
