/* CSS Document */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
body {
	background: #f7f7e8;
	font-family: 'Poppins', sans-serif;
}


.hdear{
	width: 100%;
	position:fixed;
    top:0;
	 overflow:hidden;
	z-index: 10;
	background-color: #c7cfb7;
}
/**/


.navbar-nav {
  margin-bottom: 0;
  margin-left: auto;
  align-items: center;
	
}

.nav-link{
	color: #557174;
}

.nav-link:hover{
	color: black;
	
}

.menu-item-link {
-webkit-font-smoothing: antialiased;
font-weight: 400;
line-height: 1.45em;
margin: 10px;
padding: 0;
border: 0;
vertical-align: baseline;
	height: 20px;
	box-sizing: border-box;
font-size: 16px;
color: white;
outline: 0 none;
text-decoration: none;
background-color: #e40046;
}
.menu-item-link:hover{
	font-size: 20px;
	text-decoration: none;
	
	color: aliceblue;
}
.logo {
  width: 150px;
  height: 80px;
}

.main-container{
	background-color: #f7f7e8;
}

/* card */
/* FontAwesome for working BootSnippet :> */
#team {
  background: #f7f7e8; !important
}
.btn-primary:hover, .btn-primary:focus {
  background-color: #108d6f;
  border-color: #108d6f;
  box-shadow: none;
  outline: none;
}
.btn-primary {
  color: #fff;
  background-color: #007b5e;
  border-color: #007b5e;
}
section {
  padding: 60px 0;
}
#team .card {
  border: none;
  background-image: url("images/card-design-2.png");
	
}
.image-flip:hover .backside, .image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: .25rem;
}
.image-flip:hover .frontside, .image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.mainflip {
  -webkit-transition: 2s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 2s;
  -moz-transition: 2s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 2s;
  transform-style: preserve-3d;
  position: relative;
}
.frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
}
.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
.frontside, .backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 2s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 2s;
  -moz-transform-style: preserve-3d;
  -o-transition: 2s;
  -o-transform-style: preserve-3d;
  -ms-transition: 2s;
  -ms-transform-style: preserve-3d;
  transition: 2s;
  transform-style: preserve-3d;
}
.frontside .card, .backside .card {
  min-height: 312px;
	
}
.backside .card-body {
  background-image: url("images/card-back.png")
	
	
}
.backside .card a {
  font-size: 18px;
  color: white !important;
}
.frontside .card .card-title, .backside .card .card-title {
  color: whitesmoke !important;
}

/*.frontside .card .card-body img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}*/
.list-unstyled{
	display: inline-block;
	float: left;
	margin: 15px;

}
.right-list{
	float: right;
	margin: 15px;
}
.list-center{
	float: center;
	
}
@media only screen and (max-width: 767px) {
  .previous_btn {
    left: 50px;
  }
  .next_btn {
    right: 50px;
  }
	.slideshowContainer{
		margin: 80px 50px 50px;
	}
}

/*Slider*/

.slideshowContainer {
  position: relative;
  overflow: hidden;
 /* margin: 200px 150px 100px;*/
  max-width:  1240px;
  height: 500px;
}
@media only screen and (min-width: 992px) {
	.slideshowContainer{
  margin: 200px 150px 100px;
	}
}/*
@media only screen and (min-width: 768px) {
	.slideshowContainer{
		margin:80px 50px 50px;
	}
}*/

.imageSlides {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: -1;
}

/* add 'visible' class via Javascript */
.visible {
  opacity: 1;
}

.slideshowArrow {
  font-size: 7em;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.slideshowArrow:hover {
  opacity: 0.75;
}

#leftArrow {
  position: absolute;
  left: 4%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#rightArrow {
  position: absolute;
  right: 4%;
  top: 50%;
  transform: translate(50%, -50%);
}

.slideshowCircles {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.circle {
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
  width: 45px;
  height: 15px;
  border-radius: 25px;
  border: solid 2px rgba(255, 255, 255, 0.5);
  transition: 1s ease-in-out;
}

.dot {
  background-color: rgba(255, 255, 255, 0.7);
  border: solid 2px rgba(255, 255, 255, 0.5);
}

@media only screen and (max-width: 767px) {
  .previous_btn {
    left: 50px;
  }
  .next_btn {
    right: 50px;
  }
	.image-block img{
		margin-left: 0px;
	}
}
/*image gallery*/

.image-block{transition:all .3s linear;-webkit-transition:all .3s linear;-moz-transition:all .3s linear}
.image-block:hover{transform:translateY(10px) scale(1.2);position:relative;z-index:9}
.image-block img{width:100%; height: 300px; margin:10px 20px 10px 10px;}

/*End image gallery*/

.home-banner{
	margin-top: 50px;
}


.home-banner-content{
	text-align: center;
}

.home-banner-content h1{
	color: #557174;
	font-size: 2.4em;
	font-weight: bolder;
	padding-bottom: 15px;
}

.home-banner-content p{
	line-height: 1.8; 
}

/*footer*/


        section {
            padding: 60px 0;
           /* min-height: 100vh;*/
        }
 ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }
.contact-area {
    border-bottom: 1px solid #353C46;
    background: #1A1E25;
    color: #868c96;

}

.contact-content p {
    font-size: 15px;
    margin: 30px 0 60px;
    position: relative;
}

.contact-content p::after {
    background: #353C46;
    bottom: -30px;
    content: "";
    height: 1px;
    left: 50%;
    position: absolute;
    transform: translate(-50%);
    width: 80%;
}

.contact-content h6 {
    color: #8b9199;
    font-size: 15px;
    font-weight: 400;
    margin-bottom: 10px;
}

.contact-content span {
    color: #353c47;
    margin: 0 10px;
}

.contact-social {
    margin-top: 30px;
}

.contact-social > ul {
    display: inline-flex;
}

.contact-social ul li a {
    border: 1px solid #8b9199;
    color: #8b9199;
    display: inline-block;
    height: 40px;
    margin: 0 10px;
    padding-top: 7px;
    transition: all 0.4s ease 0s;
    width: 40px;
}

.contact-social ul li a:hover {
    border: 1px solid #FAB702;
    color: #FAB702;
}

.contact-content img {
    max-width: 210px;
}
.facebook-bg{
  background: #3B5998;
}
.twitter-bg{
  background: #55ACEE;
}
.google-bg{
  background: #DD4B39;
}
footer {
    background: #1A1E25;
    color: #868c96;
}

footer p {
    padding: 40px 0;
    text-align: center;
}

footer img {
    width: 44px;
}
/*end footer*/




/*Contact */

#contact-section .container{
      width: 90%;
      margin: auto;
      overflow: hidden;
    }
    /* contact form css */


    #contact-section{
      background-color: #77dd77;
      background-size: cover;
      background-position: center;
      height: 100%;
      width: 100% ;
      padding-bottom: 2%;
    }

    #contact-section .container h2{
		margin-top: 80px;
		margin-bottom: 20px;
      text-align: center;
       text-decoration: underline;
        /* text-decoration-color:red; */
        text-underline-position: under;
        color: rgb(238, 235, 235);
        letter-spacing: 2px;
        
    }

    

    #contact-section .container p{
      text-align: center; 
      width: 70%; 
      margin-left: auto;
       margin-right: auto; 
       padding-bottom: 3%;
       color: whitesmoke;
       letter-spacing:3px;
    }

    .contact-form i.fa{
      font-size: 14px; 
      padding: 3%;
      background-color: none;
      border-radius: 80%;
      margin: 2%;
      /* border: 2px solid #fff; */
      cursor: pointer;
      border:2px solid whitesmoke;
      color: whitesmoke;
    }

    .contact-form i.fa:hover{
      cursor: pointer;
      border:2px solid black;
      color: black;
    }
     
      .contact-form{
        display: grid;
        grid-template-columns: auto auto;
         }
      
      .form-info{
        font-size: 16px;
        font-style: italic;
        color: white ;
        letter-spacing: 2px;
      }

      input{
        padding: 10px;
        margin:10px;
        width: 70%;
        background-color:rgba(136, 133, 133, 0.5);
        color: black;
        border: none;
        outline:none;
      }

      input::placeholder{
        color: black;
      }
    
       textarea{
      padding: 10px;
      margin: 10px;     
      width: 70%;
      background-color:rgba(136, 133, 133, 0.5);
      color: black;
      border: none;
      outline:none;
     }
     textarea::placeholder{
       color: white;
     }
     
      
    
      .submit{
      width: 40%;
      background: none;
      padding: 4px;
      outline: none;
       /* border: 1px solid #fff;
      color: #fff; */
      font-size: 13px;
      font-weight: bold;
      letter-spacing: 2px;
      height: 33px;
      text-align: center;
      cursor: pointer;
      letter-spacing: 2px;
      margin-left: 3%;
      border:2px solid whitesmoke;
      color: whitesmoke;
     }

     .submit:hover{
           border: 1px solid black;
      color: black;
      cursor: pointer;
     }

        /* media queries */
    @media (max-width: 768px){

 #contact-section .contact-form{
        display: block;
        width: 100%;
        text-align: center;
      }
      #contact-section .submit{

        width: 60%;
      }

}

.contact-banner{
	color:blacks;
	box-sizing: border-box;
	background-color: #EBFFE5;

}
.nav-icon-color {
	color: #557174;
}
