/* CSS Document */
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');


.hdear{
	width: 100%;
	position:fixed;
    top:0;
	 overflow:hidden;
	z-index: 10;
}
/**/


.navbar-nav {
  margin-bottom: 0;
  margin-left: auto;
  align-items: center;
}
.logo {
  width: 150px;
  height: 80px;
}

.main-container{
	background-color: darkgray;
}
/*
.slider {
  margin: 0 auto;
  max-width: 1240px;
}
.slide_viewer {
  margin-top: 80px;
  height: 500px;
  overflow: hidden;
  position: relative;
}
.slide_group {
  height: 100%;
  position: relative;
  width: 100%;
}
.slide {
  display: none;
  height: 100%;
  position: absolute;
  width: 100%;
}
.slide:first-child {
  display: block;
}
.slide:nth-of-type(1) {
  background-image: url("images/image1.jpeg");
  background-size: cover;
}
.slide:nth-of-type(2) {
  background-image: url("images/image2.jpg");
  background-size: cover;
}
.slide:nth-of-type(3) {
  background-image: url("images/image4.jpg");
  background-size: cover;
}
.slide:nth-of-type(4) {
  background-image: url("images/image5.jpg");
  background-size: cover;
}
.slide_buttons {
  margin-bottom: 80px;
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}
.slide_button {
  left: 0;
  position: absolute;
  right: 0;
  text-align: center;
}
a.slide_btn {
  color: #474544;
  font-size: 42px;
  margin: 0 0.175em;
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -ms-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.slide_btn.active, .slide_btn:hover {
  color: #428CC6;
  cursor: pointer;
}
.directional_nav {
  height: 200px;
  margin: 0 auto;
  max-width: 1400px;
  position: relative;
  top: -350px;
}
.previous_btn {
  bottom: 0;
  left: 100px;
  margin: auto;
  position: absolute;
  top: 0;
}
.next_btn {
  bottom: 0;
  margin: auto;
  position: absolute;
  right: 100px;
  top: 0;
}
.previous_btn, .next_btn {
  cursor: pointer;
  height: 65px;
  opacity: 0.5;
  -webkit-transition: opacity 0.4s ease-in-out;
  -moz-transition: opacity 0.4s ease-in-out;
  -ms-transition: opacity 0.4s ease-in-out;
  -o-transition: opacity 0.4s ease-in-out;
  transition: opacity 0.4s ease-in-out;
  width: 65px;
}
.previous_btn:hover, .next_btn:hover {
  opacity: 1;
}
*/
/* card */
/* FontAwesome for working BootSnippet :> */
#team {
  background: #eee !important;
}
.btn-primary:hover, .btn-primary:focus {
  background-color: #108d6f;
  border-color: #108d6f;
  box-shadow: none;
  outline: none;
}
.btn-primary {
  color: #fff;
  background-color: #007b5e;
  border-color: #007b5e;
}
section {
  padding: 60px 0;
}
#team .card {
  border: none;
  background-image: url("images/demo-card.png");
}
.image-flip:hover .backside, .image-flip.hover .backside {
  -webkit-transform: rotateY(0deg);
  -moz-transform: rotateY(0deg);
  -o-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  transform: rotateY(0deg);
  border-radius: .25rem;
}
.image-flip:hover .frontside, .image-flip.hover .frontside {
  -webkit-transform: rotateY(180deg);
  -moz-transform: rotateY(180deg);
  -o-transform: rotateY(180deg);
  transform: rotateY(180deg);
}
.mainflip {
  -webkit-transition: 2s;
  -webkit-transform-style: preserve-3d;
  -ms-transition: 2s;
  -moz-transition: 2s;
  -moz-transform: perspective(1000px);
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  transition: 2s;
  transform-style: preserve-3d;
  position: relative;
}
.frontside {
  position: relative;
  -webkit-transform: rotateY(0deg);
  -ms-transform: rotateY(0deg);
  z-index: 2;
  margin-bottom: 30px;
}
.backside {
  position: absolute;
  top: 0;
  left: 0;
  background: white;
  -webkit-transform: rotateY(-180deg);
  -moz-transform: rotateY(-180deg);
  -o-transform: rotateY(-180deg);
  -ms-transform: rotateY(-180deg);
  transform: rotateY(-180deg);
  -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
  box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
}
.frontside, .backside {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: 2s;
  -webkit-transform-style: preserve-3d;
  -moz-transition: 2s;
  -moz-transform-style: preserve-3d;
  -o-transition: 2s;
  -o-transform-style: preserve-3d;
  -ms-transition: 2s;
  -ms-transform-style: preserve-3d;
  transition: 2s;
  transform-style: preserve-3d;
}
.frontside .card, .backside .card {
  min-height: 312px;
}
.backside .card-body {
  background: #005b8e;
}
.backside .card a {
  font-size: 18px;
  color: white !important;
}
.frontside .card .card-title, .backside .card .card-title {
  color: whitesmoke !important;
}
.frontside .card .card-body img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}
@media only screen and (max-width: 767px) {
  .previous_btn {
    left: 50px;
  }
  .next_btn {
    right: 50px;
  }
}

/*Slider*/

.slideshowContainer {
  position: relative;
  overflow: hidden;
  margin: 75px 150px;
  max-width:  1240px;
  height: 500px;
}

.imageSlides {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  min-width: 100%;
  min-height: 100%;
  opacity: 0;
  transition: opacity 1s ease-in-out;
  z-index: -1;
}

/* add 'visible' class via Javascript */
.visible {
  opacity: 1;
}

.slideshowArrow {
  font-size: 7em;
  color: rgba(255, 255, 255, 0.5);
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;
}

.slideshowArrow:hover {
  opacity: 0.75;
}

#leftArrow {
  position: absolute;
  left: 4%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#rightArrow {
  position: absolute;
  right: 4%;
  top: 50%;
  transform: translate(50%, -50%);
}

.slideshowCircles {
  position: absolute;
  bottom: 2%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.circle {
  display: inline-block;
  margin-left: 3px;
  margin-right: 3px;
  width: 45px;
  height: 15px;
  border-radius: 25px;
  border: solid 2px rgba(255, 255, 255, 0.5);
  transition: 1s ease-in-out;
}

.dot {
  background-color: rgba(255, 255, 255, 0.7);
  border: solid 2px rgba(255, 255, 255, 0.5);
}

<<<<<<< HEAD
/* image demo */
/* === Effect 3 === */
.effect3 {
    overflow: hidden;
    
    position: relative;
}

.effect3 img {
    filter: saturate(0);
    transition: transform .8s, filter .8s;
}

.effect3:hover img {
    filter: none;
    transform: translateY(-70px);
}

/* Hover Element */
.effect3 .caption {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0px;
    background: transparent;

    line-height: 70px;
    text-align: center;
    font-size: 1.4em;

    transition: height .8s;
}

.effect3:hover .caption {
    height: 70px;
}




/* end of img demo*/

/*footer*/

/*footer {
    width:100%;
    z-index:-1;
    position:fixed;
    left:0;
    bottom:0;
    display:block;
    padding:20px;
    color:#eee;
    text-align: center;
    background: linear-gradient(#000, #333);
    font-family:arial, helvetica, sans-serif;
}*/
/*end footer*/



@media only screen and (max-width: 767px) {
  .previous_btn {
    left: 50px;
  }
  .next_btn {
    right: 50px;
  }
=======
.dot {
  background-color: rgba(255, 255, 255, 0.7);
  border: solid 2px rgba(255, 255, 255, 0.5);
>>>>>>> Image slider with navigation bars
}